
            

<!-- The Footer -->

<footer aria-label="Site Info" class="
    d-flex flex-column justify-content-center text-muted
    flex-lg-row justify-content-lg-between align-items-lg-center pb-lg-3
  ">
  <p>
    * Affiliate-Link: Wenn du über diesen Link einkaufst, erhalte ich eine kleine Provision. 
    <br>Der Preis ändert sich für dich nicht.
 <br><br>
  ©
    <time>2026</time>

    
      <a href="https://www.unserzuhausehaus.de">Unser Zuhause Haus</a>.
       
      <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Sofern nicht anders angegeben, stehen die Blogartikel auf dieser Seite unter der Creative Commons Namensnennung 4.0 International Lizenz (CC BY 4.0).">Einige Rechte vorbehalten.</span>
     </p>

  <p><a href="/impressum/">Impressum</a> &nbsp;|&nbsp; <a href="/datenschutz/">Datenschutz</a>
  </p>
</footer>
